@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background: linear-gradient(180deg,#383838,#000000) no-repeat;
  min-height: 100vh;
}