@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');


input, .button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  vertical-align: top;
} 

a {
    text-decoration: none;
    color: white;
}

form {
  text-align: center;
  height: 70px;
  top: 0;
  width: 100%;
  margin-left: 40px;
  box-shadow: 0 0 5px 0 ; 
  position: fixed; 
  z-index: 999;
}

.button {
  text-align: center;
  border: none;
  height: 40px;
  margin-top: 15px;
  width: 70px;
  background: tomato;
  border-radius: 0 35px 35px 0;
  color: rgb(170, 170, 170);
  font-size: 1.4rem;
  transition: 0.3s;
}

input[type="text"] {
  border: none;
  height: 40px;
  width: 400px;
  margin-top: 15px;
  outline: none;
  gap: 30px;
  margin-bottom: 20%;
  padding-left: 40px;
  border-radius: 35px 0 0 35px;
  color: rgb(40, 39, 39);
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

svg {
    padding: 2px 5px;
    height: 20px;
    width: 30px;
    fill: black;
}

.button:hover {
    background: #313131;
}

.button:hover svg{
    fill: tomato;
}

form:hover input {
    box-shadow: 0 0 0 5px rgba(255, 99, 71, 0.605);
}

form:hover .button {
    box-shadow: 0 0 0 5px rgba(255, 99, 71, 0.526);
}

.signin {
    position: absolute;
    float: right;
    margin-top: 15px;
    columns: white;;
    right: 3.5rem;
    border-radius: 5px;
    width: 110px;
    border: 2px solid tomato;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 30px;
    transition: 0.3s;
    font-weight: 700;
}

.signin:hover {
    border-color: black;
    color: tomato;
}

@media screen and (max-width: 685px) {
    form {
        margin-left: 2.5rem;
    }
    input[type="text"] {
        width: 200px;
    }
    .signin {
        display: none;
    }
}